<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <meta charset="UTF-8">
    <title>Movie Malarkey</title>
</head>
<body style="text-align: center">
<h1>Welcome to Movie Malarkey!</h1>
<p><strong>Movie Malarkey</strong> is a collaborative and creative online multiplayer game. Take your best shot at coming up with an obscure film's plot based on only its title.</p>
<hr>
<form action="/roomSearch" method="POST">
    <label for="nickname">Enter nickname:</label>
    <input id="nickname" name="Nickname" type="text"/>
    <input type="submit" value="Join"/>
</form>
</body>
</html>