<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="application/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <meta charset="UTF-8">
    <title>Movie Malarkey</title>
</head>
<body style="text-align: center">
<h1>Welcome to Movie Malarkey!</h1>
<p><strong>Movie Malarkey</strong> is a collaborative and creative online multiplayer game. Take your best shot at coming up with an obscure film's plot based on only its title.</p>
<hr>
<div id="main"></div>
</body>
</html>