<p>From here, you can either <strong>create a new room</strong> or <strong>join an existing one</strong> (if you have the room code!)</p>

<table style="width:50%; margin: auto;">
    <tr>
        <td style="width:50%;">
            <h2>New Room</h2>
            <input type="submit" value="Create Room" onclick="createRoom()"/>
        </td>
        <td style="width:50%;">
            <h2>Join Existing Room</h2>
            <label for="room-code">Room Code:</label>
            <input id="room-code" name="Room_Code" type="text"/>
            <input type="submit" onclick="searchRoom()" value="Join"/>
            <div id="roomNotFound"></div>
        </td>
    </tr>
</table>